<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

	<bean id="airtel" class="com.springway.xml.Airtel"></bean> <!--it will create airtel class object in the ioc container.-->
	
	<bean id="vodafone" class="com.springway.xml.Vodafone"></bean> <!--it will create vodafone class object in the ioc container.-->
	
	<bean id="sim" class="com.springway.xml.Vodafone"></bean> <!--it will create vodafone class object in the ioc container.-->
	

</beans>